.fondo {
    background-color: #07A1E1 !important;
}

.fuente {
    font-family: 'Gluten', cursive;
}

.parrafo {
    text-align: center;
}

.titulo {
    text-align: center;
}

.texto {
    font-size: 20px;
    text-align: center;
}